  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Show Variants for: <%= @product.asin %></h3>
        </div>
        <div class="well">
            <div class="modal-body">
              <div class="container-fluid">
            The following are variants for this product: <b><%= @product.variants %></b>

            <%= @product.variants do |f| %>

              <div class="row spacer">                        
                <div class="form-group">
                  <label for="title" class="col-sm-1 control-label">Title</label>
                    <div class="col-sm-10">    
                    <% binding.pry %>
                      <% variant = Product.find_by_asin(f) %>
                      <%= variant.title %>
                      <% end %>  
                    </div>
                </div>
              </div>

              </div>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>